@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: /*local("Roboto"), local("Roboto-Regular"),*/ url(roboto-regular.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url(roboto-bold.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: url(robotomono-regular.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 700;
  src: url(robotomono-bold.ttf) format("truetype");
}
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  src: url(worksans.ttf) format("truetype");
}
