---
nav: home
navpos: 1
layout: default
---

<div class="row index">

  <div class="col-md col-12 mb-4 mb-md-0">
    <h4>Hi</h4>
    <p>
    TODO
    </p>
  </div>

  <div class="col-md col-12 mb-4 mb-md-0">
    <h4>Contact</h4>
    <ul class="fa-ul">
      <li>
        <span class="fa-li"><i class="fas fa-envelope"></i></span>
        <script>
          document.write('<a href=\"mailto:' + atob("{{ site.email_hash }}")
                      + '\">' + atob("{{ site.email_hash }}") + '</a>');
        </script>
      </li>
      <li>
        <span class="fa-li"><i class="fab fa-discord"></i></span>
        <a href="https://discordapp.com/channels/@me/543755678448353292">blami</a>
      </li>
    </ul>

    <ul class="fa-ul mb-md-0">
      <li>
        <span class="fa-li"><i class="fas fa-key"></i></span>
        <a href="/id_rsa.pub.txt">SSH pubkey</a>
        (<a href="/id_rsa.fingerprint.txt">fingerprint</a>)
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-key"></i></span>
        <a href="/pubkey.asc.txt">GnuPG pubkey</a>
        (<a href="/pubkey.fingerprint.txt">fingerprint</a>)
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-hand-spock"></i></span>
        <a href="/geekcode.asc.txt">Geek code</a>
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-brain"></i></span>
        <a href="https://www.16personalities.com/intp-personality" title="Turbulent Logician">INTP-T</a>
      </li>
    </ul>
  </div>

  <div class="col-md col-12">
    <h4>Recent Posts</h4>
    <ul class="list-unstyled">
    {% for post in site.posts limit:5 %}
      <li>
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %y" }}</time>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
    {% if site.posts == empty %}
    There are no blog posts yet :(
    {% endif %}
    </ul>
  </div>

</div>
