---
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/fa.min.css" rel="stylesheet">
    <link href="/css/font.css" rel="stylesheet">
    <link href="/css/site.css" rel="stylesheet">
    <link href="/css/themes.css" rel="stylesheet">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="shortcut icon" href="/favicon.ico?" type="image/x-icon">
    <link rel="icon" href="/favicon.ico?" type="image/x-icon">

    <title>{% if page.title %}{{ page.title | escape }} - {% endif %}{{ site.title | escape }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="twitter:title"
      content="{% if page.title %}{{ page.title | escape }} - {% endif %}{{ site.title | escape }}">
    <meta property="og:title"
      content="{% if page.title %}{{ page.title | escape }} - {% endif %}{{ site.title | escape }}">
    <meta property="og:description" content="{{ site.description }}">

    {% if site.google_analytics_id %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_id }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ site.google_analytics_id }}');
    </script>
    {% endif %}
  </head>
  <body class="bg {% if page.condensed or layout.condensed %}condensed{% endif %}">

    <div class="menu-navbar sticky-top navbar-expand-sm">
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbar1">
        <span class="menu-icon"></span>
      </button>
    </div>

    {% if page.condensed != true and layout.condensed != true %}
    <!-- Header -->
    <div class="header">
      <div class="container max-960 py-4">
        <div class="row">
          <div class="col-12 text-center about">
            <div class="site-header">
              <a href="/" class="normal">
                <div class="avatar-bg">
                  <div class="avatar" title="Me. Pixelated."></div>
                </div>
                <div class="site-author">{{ site.author }}</div>
                <div class="site-tagline">{{ site.tagline }}</div>
              </a>
            </div>
            <div class="site-social-links">
              <a href="https://github.com/{{ site.github_username }}" title="My Github"><i class="fab fa-github"></i></a>
              <a href="https://twitter.com/{{ site.twitter_username }}" title="My Twitter"><i class="fab fa-twitter"></i></a>
              <a href="https://trello.com/{{ site.trello_workspace }}" title="My Trello workspace"><i class="fab fa-trello"></i></a>
              <a href="https://www.instagram.com/{{ site.instagram_username }}/" title="My Instagram"><i class="fab fa-instagram"></i></a>
              <a id="twitch" href="https://twitch.tv/{{ site.twitch_username }}" title="My Twitch channel"><i class="fab fa-twitch"></i></a>
              <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="My Linked.in"><i class="fab fa-linkedin"></i></a>
              <a href="https://stackoverflow.com/users/{{ site.stackoverflow_username }}" title="My stackoverflow"><i class="fab fa-stack-overflow"></i></a>
              <a href="https://www.meetup.com/members/{{ site.meetup_userid }}/" title="My Meetup.com profile"><i class="fab fa-meetup"></i></a>
              <a href="https://steamcommunity.com/id/{{ site.steam_username }}" title="My Steam profile"><i class="fab fa-steam"></i></a>
              <a href="https://www.last.fm/user/{{ site.lastfm_username }}" title="My Last.fm profile"><i class="fab fa-lastfm"></i></a>
            </div>
          </div><!-- /about -->
        </div>
      </div>
    </div><!-- /header -->
    {% endif %}

    {% if page.condensed != true and layout.condensed != true %}
    <!-- NOTE: Bootstrap doesn't require this, it's to show mini-header. -->
    <span class="position-absolute navbar-trigger"></span>
    {% endif %}
    <nav class="navbar navbar-expand-sm navbar-light sticky-top bg">
      <div class="container max-960">

        <div class="mini-header site-header">
          <a href="/" class="normal">
            <div class="avatar-bg">
              <div class="avatar" title="Me. Pixelated."></div>
            </div>
            <span class="site-author pl-1 pr-4" title="{{ site.tagline }}">{{ site.author }}</span>
          </a>
        </div>
        <div></div><!-- navbar pusher -->

        {% comment %}
        <!-- This is disabled as I moved hamburger out of <nav>.
        <button class="navbar-toggler navbar-toggler-right"
                type="button"
                data-toggle="collapse"
                data-target="#navbar1">
          <span class="hamburger-icon"></span>
        </button>
        -->
        {% endcomment %}
        <div class="collapse navbar-collapse" id="navbar1">
          <ul class="navbar-nav">
            {% assign nodes = site.pages | sort:"navpos" %}
            {% for node in nodes %}
              {% if node.nav %}
                {% if page.url contains node.url %}
                  <li class="nav-item"><a class="nav-link active" href="{{ node.url }}">{{ node.nav }}</a></li>
                {% else %}
                  <li class="nav-item"><a class="nav-link" href="{{ node.url }}">{{ node.nav }}</a></li>
                {% endif %}
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="content container max-960">
      <div class="row">
        <div class="col-12">
          {{ content }}
        </div>
      </div>
    </div><!-- /content -->

    <div class="footer">
      <div class="container max-960 py-4">
        <hr></hr>
        <p>
        Copyright © 2004-{{ 'now' | date: "%Y" }}. Published under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0">CC by-nc-sa</a>.<br />
        The opinions expressed herein are my own personal opinions and do not represent my employer's view in any way.
        </p>
        <p class="madewith d-none d-md-block">
          Made with <a href="https://jekyllrb.com"><i class="fab fa-markdown"></i> Markdown</a> and <a href="https://jekyllrb.com"><i class="fas fa-vial"></i> Jekyll</a>
          hosted on <a href="https://github.com"><i class="fab fa-github"></i> GitHub</a>
        </p>
      </div>
    </div>

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/site.js"></script>
    {% if page.comments %}
    <script id="dsq-count-scr" src="//blami.disqus.com/count.js" async></script>
    {% endif %}
  </body>
</html>
